body {
    background-color: aquamarine;
}


.canvas {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.square {
    background-color: white;
    flex: 1;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
}